In [1]:
import pandas as pd

# Tipe Data

## Definisi

1. Data kualitatif adalah data bertipe non-numerik, seperti label dan atribut.


2. Data kuantitatif adalah data bertipe numerik, seperti penghitungan dan pengukuran.

## Contoh - Menu Martabak

In [2]:
pd.DataFrame({
    "nama (kualitatif)": ["Martabak Keju Coklat", "Martabak Sapi 3 Telur", "Martabak Ayam 2 Telur", "Martabak Coklat Kacang Jumbo"],
    "harga (kuantitatif)": [25_000, 18_000, 30_000, 40_000]
})

              nama (kualitatif)  harga (kuantitatif)
0          Martabak Keju Coklat                25000
1         Martabak Sapi 3 Telur                18000
2         Martabak Ayam 2 Telur                30000
3  Martabak Coklat Kacang Jumbo                40000

# Skala Pengukuran (*Level of Measurement*)

Pada bidang statistik terdapat 4 skala pengukuran, yaitu nominal, ordinal, interval, dan rasio. Nominal dan ordinal termasuk dalam tipe kualitatif, sedangkan interval dan rasio termasuk dalam tipe kuantitatif.


## Data Kualitatif


1. Nominal adalah data yang dikelompokan atau dikategorikan berdasarkan nama, label, atau kualitas. Skala ini tidak dapat dikenakan operasi matematika. Contohnya seperti nama anak, merek kendaraan, dan nomor KTP. Urutan pada skala ini tidak memiliki makna.


2. Ordinal adalah data yang dapat disusun berdasarkan urutan, peringkat, atau ranking. Urutan pada skala ini memiliki makna. Tidak dapat dikenakan operasi matematika. Contohnya tingkat kepuasan pelanggan, rating produk di toko online, atau peringkat di kelas.

## Data Kuantitatif

1. Interval adalah skala pengukuran yang dapat dikelompokkan, dapat disusun, dapat dihitung menggunakan operasi pengurangan, pertambahan, dan pembagian tetapi perkalian tidak, dan tidak memiliki nilai nol yang absolut (*no inherent zero*). Contohnya suhu udara dan waktu.


2. Rasio adalah skala pengukuran yang dapat dikelompokkan, dapat disusun, dapat dikenakan operasi matematika pengurangan, pertambahan, pembagian, dan perkalian, dan memiliki nilai nol yang absolut (*inherent zero*). Contohnya jumlah teman disosial media, harga produk, dan berat badan.

# Ringkasan

In [3]:
pd.DataFrame(
    {
        "pengelompokan data": ["Ya", "Ya", "Ya", "Ya",],
        "pengurutan data": ["Tidak", "Ya", "Ya", "Ya",],
        "selisih data": ["Tidak", "Tidak", "Ya", "Ya",],
        "pengkalian data": ["Tidak", "Tidak", "Tidak", "Ya",]
    },
    index=["nominal", "ordinal", "interval", "rasio"]
)

         pengelompokan data pengurutan data selisih data pengkalian data
nominal                  Ya           Tidak        Tidak           Tidak
ordinal                  Ya              Ya        Tidak           Tidak
interval                 Ya              Ya           Ya           Tidak
rasio                    Ya              Ya           Ya              Ya