# Measure of Position

- Suatu pengukuran  nilai yang digunakan untuk menentukan posisi relatif dari suatu entri data (data point) pada dataset.
- Terdiri dari quartile, percentile, standard score.

# Quartile (Kuartil)

- Nilai yang membagi suatu dataset terurut menjadi emapt bagian yang sama.
- Terdapat tiga nilai quartile, yaitu $Q_1$, $Q_2$/median dan $Q_3$.
- Kumpulan data harus terurut untuk menentukan kuartil.
- Contoh:<img src="../images/quartile-example.png" width="500">

# Interquartile Range (IQR)

- Menselisihkan nilai $Q_3$ dan $Q_1$.
- $IQR\ =\ Q_3\ -\ Q_1$
- Deteksi outlier:
    - Lebih kecil dari $Q_1\ -\ 1.5(IQR)$
    - Lebih besar dari $Q_3\ +\ 1.5(IQR)$
- Contoh:<img src="../images/quartile-example.png" width="500">
Apakah data 104 termasuk data outlier?

    Answer:
    
    $Q_1 - 1.5(IQR)\ =\ 9\ -\ 36\ =\ -27$
    $Q_3 + 1.5(IQR)\ =\ 33\ -\ 36\ =\ 69$
    
    Maka, nilai 104 termasuk outlier.

# Percentile (Persentil)

- Nilai yang telah diurutkan dibagi menjadi 100 bagian yang sama.
- Terdapat 99 nilai persentil, yaitu: $P_1,\ P_2,\ P_3,\ ...,\ P_{99}$


- $percentile\ =\ \frac{position\text{_}of\text{_}data}{number\text{_}of\text{_}data} . 100$


- $P_{25}$ sama dengan $Q_1$
- $P_{50}$ sama dengan $Q_2$
- $P_{75}$ sama dengan $Q_3$
- Nilai lebih kecil dari $P_5$ atau nilai lebih besar dari $P_95$ dikategorikan outlier.

# Standard Score

- Merepresentasikan nilai simpangan suatu entri data terhadap mean dari dataset yang diukur berdasarkan standard deviation.
- Nilai dapat positif, negatif, dan nol.
- $zscore\ =\ \frac{x - \mu}{\sigma}$
- Deteksi outlier <img src="../images/z-score-outlier.png" width="500">

In [1]:
import pandas as pd

data = pd.DataFrame(
    data={
        "$\mu$": [69.9, 64.3],
        "$\sigma$": [3.0, 2.6]
    },
    index=["men's heights (inches)", "women's heights (inches)"]
)

height = 72

data

                          $\mu$  $\sigma$
men's heights (inches)     69.9       3.0
women's heights (inches)   64.3       2.6

In [2]:
zscore_men_heights = (height - 69.9) / 3.0
zscore_women_heights = (height - 64.3) / 2.6

print(f"z-score men heights   : {zscore_men_heights}")
print(f"z-score women heights : {zscore_women_heights}")

z-score men heights   : 0.6999999999999981
z-score women heights : 2.9615384615384626